@font-face {
  font-family: 'Minecraft Title';
  src: url('https://cdn.jsdelivr.net/gh/bloxarynid/Bloxaryn.Id@main/fonts/minecraft.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* https://www.minecraft.net/etc.clientlibs/minecraftnet/clientlibs/clientlib-site/resources/fonts/MinecraftFive-Bold.ttf */

/* https://www.minecraft.net/etc.clientlibs/minecraftnet/clientlibs/clientlib-site/resources/fonts/MinecraftSeven.ttf */

@font-face {
  font-family: 'Minecraft Title 2';
  src: url('https://www.minecraft.net/etc.clientlibs/minecraftnet/clientlibs/clientlib-site/resources/fonts/MinecraftFive-Bold.ttf');
  font-style: bold;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Minecraft Font';
  src: url('https://www.minecraft.net/etc.clientlibs/minecraftnet/clientlibs/clientlib-site/resources/fonts/MinecraftSeven.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Minecraft Title-Mini';
  src: url('https://www.minecraft.net/etc.clientlibs/minecraftnet/clientlibs/clientlib-site/resources/fonts/MinecraftFive-Bold.ttf');
  font-style: normal;
  font-weight: 550;
  text-rendering: optimizeLegibility;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -9999999999;
}

.abt-me-container {
  flex-direction: column;
  margin: 6px 0;
  font-family: 'Minecraft Font';
  color: #bababa;
  width: 100%;
}

.abt-me {
  font-family: 'Minecraft Title 2';
  color: white;
  font-size: 40px;
  text-align: left;
  padding: 0 50px;
  text-align: left;
}

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(150deg, #001026, #0077cf);
  min-height: 100vh;
  display: flex;
  /*tanpa ini uinya betantakan ya*/
  flex-direction: column;
}

section {
  padding: 30px 15px 30px 15px;
  position: relative;
}

/* animasi teks ul, li, dan a di buat oleh DeepSeek */

nav {
  position: fixed;
  z-index: 10000000000;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.35);
  border-bottom: 1.25px solid grey;
  justify-content: space-between;
  padding: 0.55rem 2rem 0.55rem 0.55rem;
  display: flex; /* agar nav bisa berdampingan */
  height: 65px;
  backdrop-filter: pr(1.5px);
}

nav ul {
  gap: 0.8rem;
  align-items: center;
  list-style: none;
  /* note: properti dibaeahini adalah agar text dari ul di kiri */
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul li a {
  font-family: 'Minecraft Font', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 2.4px 0;
  text-align: end;
  position: relative; /* Tambahkan ini */
  display: inline-block; /* Penting untuk pseudo-element */
}

/* Border bawah yang akan muncul */
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.8px;
  background-color: #89cfff;
  transform: scaleX(0); /* Awalnya tersembunyi */
  transform-origin: left; /* Mulai dari kiri */
  transition: transform 0.4s ease;
}

nav ul li a:hover {
  color: #89cfff;
}

nav ul li a:hover::after {
  transform: scaleX(1); /* Muncul penuh saat hover */
}

svg {
  font-family: 'Minecraft Title';
  padding: 10px auto 0 auto;
}

svg, text {
  text-transform: uppercase;
  font-size: 125px;
  font-weight: 450;
  animation: stroke 3.2s infinite alternate;
  fill: rgb(113,190,255);
}

.icon {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
  justify-content: center;
  align-items: start;
  padding-left: 0.55px;
}

.wadah {
  background: rgba(0,0,0,0.18);
  max-width: 1100px;
  height: auto;
  border: 1.25px solid rgba(204,204,204,0.532);
  backdrop-filter: blur(1.5px);
  border-radius: 14px;
  overflow: hidden;
  margin: 6px auto;
  padding: 5px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory
  white-space: nowrap;
}

.scroll:hover {
  cursor: grab;
}

.wadah img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 0 10px 5px 0;
  transition: transform 0.5s ease;
}

.wadah img:hover {
  transform: scale(1.15);
}

.title {
  font-family: 'Minecraft Title';
  padding: 15px 0 30px 0;
  text-align: center;
  color: rgb(113,190,255);
  border-left: none;
  margin-bottom: 8px;
  font-weight: 400;
}

#sosial .title {
  margin-bottom: 5px;
}

#sosial .wadah {
  padding: 8px 15px;
  min-height: 120px;
}

#sosial .card-flip { margin-top: 4px;}

.artikel {
  width: 100%;
}

.artikel p {
  font-family: 'Minecraft Font';
  color: #e0e0e0;
  margin: 0 11px 20px 11px;
  line-height: 1.8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box;
  text-align: justify;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.artikel h2 {
  font-family: 'Minecraft Font';
  color: #6ad2ff;
  font-weight: 450;
  margin: 10px 0 10px 0;
  text-align: center;
}

.bingkai {
  margin: 0 auto 6px auto;
  border-radius: 20px;
  border: 2px solid rgb(124,233,255);
  position: relative;
  background: transparent;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: 0 0 25px rgb(0,0,0);
}

.bingkai img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wadah-kartu {
  margin: 30px 0 18px 0;
  gap: 20px; /* Jarak antar kartu yang lebih lega */
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  max-width: 1200px;
  width: 100%;
  min-width: fit-content;
  padding: 0 15px; /* Ruang samping pada layar kecil */
  overflow-x: auto;
  white-space: nowrap;
}

.kartu {
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  width: 175px;
  height: 220px;
  border-radius: 13px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(21.5px);
  transition: transform 0.3s ease, background 0.3s ease;
  border: 1.2px solid #707070;
  overflow: hidden;
  position: relative;
  transition: transform 0.7s ease;
  -webkit-transition: transform 0.7s ease;
  -moz-transition: transform 0.7s ease;
  -ms-transition: transform 0.7s ease;
  -o-transition: transform 0.7s ease;
}

.kartu:hover {
  background: rgba(255, 255, 255, 0.12);
}

.kartu img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
  -webkit-transition: transform 0.7s ease;
  -moz-transition: transform 0.7s ease;
  -ms-transition: transform 0.7s ease;
  -o-transition: transform 0.7s ease;
}

.kartu img:hover {
  transform: scale(1.08);
}

.info-kartu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 10px 0 0 0;
  background: linear-gradient(to top, #51f8ff, #ffffff00);
  color: #aaaaaa;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  text-align: center;
}

.info-kartu a {
  font-family: 'Jersey 10';
  color: #aaaaaa;
  text-decoration: none;
  font-size: 1.6rem;
}

.info-kartu p {
  font-family: 'Minecraft Font';
  text-shadow: 2px 2px 40px rgb(119,224,255);
  font-size: 0.8rem;
  white-space: normal;
}

.kartu:hover .info-kartu {
  transform: translateY(0);
}

#beranda {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}


.kelompok-2 p {
  font-family: 'Minecraft Font';
  color: #e0e0e0;
  padding-bottom: 10px;
}

#beranda .kelompok-2 {
  font-family: 'Minecraft Font';
  font-size: 15px;
  font-weight: 650;
  color: #e0e0e0;
  flex-direction: column;
  gap: 6px;
}

.me-btn {
  font-family: 'Minecraft Font';
  display: flex;
  max-width: 768px
  max-height: 696px;
  border-radius: 24px;
  background: linear-gradient(135deg, #6aa2ff, #8bd6ff, #6aa2ff);
  background-size: 200% 200%;
  color: #e0e0e0;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border: 1.55px solid #d4d4d4;
  padding: 12px 6px;
  transition: all 2s ease;
}

.me-btn:hover {
  background: transparent;
  background-size: 200% 200%;
  transform: translateY(-8px) scale(1.1) rotate(-1deg);
  box-shadow: 0 0 15px rgba(132,214,255,0.659);
}

.contact-btn {
  font-family: 'Minecraft Font';
  display: flex;
  max-width: 768px
  max-height: 696px;
  border-radius: 24px;
  background: transparent;
  background-size: 200% 200%;
  color: #6aa2ff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border: 1.55px solid #75b9ff;
  padding: 12px 6px;
  transition: all 2s ease;
}

.contact-btn:hover {
  background: linear-gradient(135deg, #6aa2ff, #8bd6ff, #6aa2ff);
  background-size: 200% 200%;
  transform: translateY(-8px) scale(1.1) rotate(-1deg);
  box-shadow: 0 0 15px rgba(132,214,255,0.659);
}

.card-flip-container {
  display: grid;
  justify-content: center;
  margin: 7.5px auto 18px auto;
}

.card-flip:nth-child(5):last-child {
  grid-column: 3 / span 1;
}

.card-flip {
  display: flex;
  font-family: 'Minecraft Font';
  perspective: 500px;
}

.konten {
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

.card-flip:hover .konten {
  transform: rotateY(180deg);
  transition: transform 0.75s;
}

.card-flip:hover .back a {
  animation: opacityCard 1s;
}

.front, .back {
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
}

.front, .back a {
  color: white;
  text-decoration: none;
}

.front {
  background: white;
}

.back {
  color: grey;
  background: white;
  transform: rotateY(180deg);
}

.back a {
  background: rgba(0,0,0,0.4);
  padding: 1.5px 4px 5px 4px;
  border-radius: 18px;
  margin: auto;
}

#bg {
  animation: bgFill 5s infinite alternate;
}

.foot {
  margin: 25px 0 0 0;
  background: rgba(0,0,0,0.18);
  width: 100%;
  height: 100%;
  border-top: 1.25px solid grey;
  backdrop-filter: blur(1.5px);
}

.copyright {text-align:center;line-height:50px;font-weight:550;font-size:15px;}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  margin-left: auto;
  margin: auto 0;
}

#menu-toggle {
  display: none;
}

.hamburger-lines {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines span {
  width: 100%;
  height: 2.5px;
  background-color: white;
  border-radius: 2px;
}

.large {
  margin: 260px 0 340px 0;
  flex-direction: row;
  padding: 0 35px;
  align-items: center;
  max-width: 1762px;
  justify-content: space-between;
}

.kelompok-3, .kelompok-1 {
  flex-direction: column;
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  animation: fadeSlideUp 1.5s ease forwards;
}

.small .sizing {
  margin: 280px auto 0 auto; 
}

.tombol {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 50px;
  justify-content: center;
}

@keyframes bgFill {
  0% {
    fill: rgba(56,82,79,0);
  }
  
  70% {
    fill: rgba(56,82,79,0);
  }
  
  80% {
    fill: rgba(56,82,79,0);
  }
  
  100% {
    fill: rgb(113,190,255);
  }
}

@keyframes stroke {
  0% {
    fill: rgba(56,82,79,0);
    stroke: rgb(73,117,217);
    stroke-width: 2;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
  }
  
  70% {
    fill: rgba(56,82,79,0);
    stroke: rgb(73,117,217);
  }
  
  80% {
    fill: rgba(56,82,79,0);
    stroke: rgb(73,117,217);
    stroke-width: 3;
    text-shadow: 0 0 0 #ffffff00;
  }
  
  100% {
    fill: rgb(129,221,255);
    stroke: rgb(73,117,217);
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }
}

@keyframes opacityCard {
  0% {
    opacity: 0;
  }
  
  51% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scrollAnimation {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.84);
  }
  
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

  @keyframes floatFadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.95);
    }
    50% {
      transform: translateY(-10px) scale(1.02);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  @media (max-width: 1762px) {
    #me .wadah {
      background: transparent;
      border: 0.1px solid transparent;
    }
    
    #projek .wadah{
      background: transparent;
      border: 0.1px solid transparent;
    }
    
    .abt-me-container {
      display: flex;
    }
    
    .kelompok-2 {
      display: none;
    }
    
    .wadah {
      padding: 0 60px;
      background: rgba(0,0,0,0.15);
      border: 1.25px solid white;
    }
    
    .title {
      font-family: 'Minecraft Title 2';
      font-size: 65px;
      text-decoration: underline;
      text-decoration-color: #75d6ff;
      text-decoration-thickness: 2.5px;
      text-underline-offset: 10px;
    }
    
    .bingkai {
      width: 300px;
      height: 300px;
    }
    
    .artikel p {
      font-size: 30px;
    }
    
    svg {
      width: 100%;
      height: 100%;
    }
    
    .foot {
      padding: 20px 0;
    }
    
    .copyright {
      font-size: 25px;
    }
    
    .artikel h2 {
      font-size: 40px;
    }
    
    #beranda .kelompok-2 p {
      font-size: 24px;
      padding-bottom: 10px;
    }
    
    .me-btn, .contact-btn {
      border-radius: 50px;
      width: 190px;
      height: 70px;
      font-size: 26px;
    }
    
    .sizing {
      border-radius: 50px;
      width: 360px;
      height: 360px;
      border: 4.5px solid #86ceff;
    }
    
    .sizing img {
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease;
    }
    
    .sizing:hover img {
      transform: scale(1.2);
    }
    
    .card-flip-container {
      grid-template-columns: repeat(4, 1.5fr);
      gap: 14px;
      padding: 20px;
    }
    
    .card-flip {
      width: 120px;
      height: 120px;
      border-radius: 16px;
    }
    
    .konten {
      width: 100%;
      height: 100%;
    }
    
    .front, .back {
      width: 100%;
      height: 100%;
      line-height: 120px;
      text-align: center;
      border-radius: 24px;
      font-weight: 900;
      font-size: 35px;
    }
    
    .wadah-kartu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 16px 0 9px 0;
    }
    
    .kartu {
      width: 350px;
      height: 440px;
    }
    
    .close {
      display: none;
    }
    
    .audio {
      padding-bottom: 35px;
      height: 80px;
      width: 550px;
    }
    
    .large {
      display: flex;
    }
    
    .small {
      display: none;
    }
    
    .ai-font {
      font-weight: 350;
      font-size: 24px;
    }
    
    .back a {
      font-weight: 500;
      font-size: 25px;
  }
  
  @media (max-width: 800px) {
    .abt-me-container {
      display: none;
    }
    
    .kelompok-2 {
      display: flex;
    }
    
    .wadah {
      padding: 0 20px;
      background: rgba(0,0,0,0.18);
      border: 1.25px solid rgba(204,204,204,0.532);
    }
    
    .title {
      font-family: 'Minecraft Title';
      text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
      font-size: 35px;
      text-decoration: underline;
      text-decoration-color: #75d6ff;
      text-decoration-thickness: 2px;
      text-underline-offset: 10px;
    }
    
    .bingkai {
      width: 130px;
      height: 130px;
    }
      
    .artikel p {
      font-size: 15px;
    }
    
    svg {
      display: flex;
      width: 90%;
      height: 90%;
    }
      
    .foot {
      padding: 1px 0;
    }
      
    .copyright {
      font-size: 15px;
    }
    
    .artikel h2 {
      font-size: 20px;
    }
    
    /*.menu {
      position: absolute;
      top: 70px;
      right: 6px;
      width: 55%;
      background: #2121218f;
      flex-direction: column;
      display: none;
      line-height: 40px;
      border-radius: 10px;
      border: 1px solid grey;
    }*/
    
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      z-index: 10000000000000;
      background: #000000e1;
      flex-direction: column;
      line-height: 40px;
      justify-content: flex-start;
      padding: 65px 0;
      
      transform: translateY(-100%);
      transition: transform 0.6s ease;
    }
    
    .menu li a {
      padding: 5px 0;
    }
    
    #menu-toggle:checked ~ .menu-icon ~ .menu {
      transform: translateY(0);
    }
    
    #menu-toggle:not(:checked) ~ .menu-icon ~ .menu {
      transform: translateY(-100%);
    }
    
    .close {
      position: absolute;
      top: 7.5px;
      right: 17px;
      z-index: 10000000000001;
      cursor: pointer;
      color: white;
      font-size: 38px;
    }
    
    .menu-icon {
      display: block;
    }
    
    #beranda .kelompok-2 p {
      font-size: 100%;
    }
    
    .me-btn, .contact-btn {
      width: 115px;
      height: 45px;
      font-size: 15px;
      border-radius: 50px;
    }
    
    .sizing img {
      width: 100%;
      height: 100%;
      transition: transform 0.35s ease;
    }
    
    .sizing:hover img {
      transform: scale(1.13);
    }
    
    .sizing {
      border-radius: 50%;
      width: 130px;
      height: 130px;
      border: 2px solid #81bcff;
      animation: fadeSlideUp 1.5s ease forwards;
    }
    
    .card-flip-container {
      grid-template-columns: repeat(4, 1fr);
      gap: 6px;
      padding: 15px;
    }
    
    .card-flip {
      width: 60px;
      height: 60px;
      border-radius: 16px;
    }
    
    .konten {
      width: 100%;
      height: 100%;
      border-radius: 22px;
    }
    
    .front, .back {
      width: 100%;
      height: 100%;
      line-height: 60px;
      text-align: center;
      border-radius: 12px;
      font-weight: 450;
      font-size: 17.5px;
      border-radius: 22px;
    }
    
    .wadah-kartu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
      padding: 0;
      gap: 10px;
      margin: 30px 0 18px 0;
    }
    
    .close {
      display: flex;
    }
    
    .audio {
      padding-bottom: 10px;
      height: 75px;
      width: 300px;
    }
    
    .large {
      display: none;
    }
    
    .small {
      display: flex;
    }
    
    #projek .wadah {
      border: 0.1px solid transparent;
      width: 100%;
      background: transparent;
      padding: 0;
    }
    
    .kartu {
      width: 175px;
      height: 220px;
    }
    
    .ai-font {
      font-size: 12px;
    }
    
    .back a {
      font-weight: 250;
      font-size: 12px;
    }
  }

#skin_container {
    width: 300px;
    height: 300px;
    border: 2px solid #555;
    background-color: #f0f0f0;
    cursor: grab; /* Menandakan model bisa diputar */
}
